<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">

    <test name="myTest1">

    <classes>
        <class name="US_01_Reg_KullanıcıKaydı_Register_Oluşturma"> </class>
    </classes>
</test>
    <test name="myTest2">
    <classes>
        <class name="US_02_Login"> </class>
    </classes>
</test>

<test name="myTest3">
    <parameter name="browserTipi" value="chrome"></parameter>
<classes>
    <class name="US_03_Negatif_Pozitif_Login_Kombinasyonlari"> </class>
</classes>
</test>

    <test name="myTest4">
        <parameter name="browserTipi" value="chrome"></parameter>
        <classes>
            <class name="US_04_Tab_Menu_Kontrolu"> </class>
        </classes>
    </test>
    <test name="myTest5">
        <parameter name="browserTipi" value="chrome"></parameter>
        <classes>
            <class name="US_05_Hediye_Sipariş_Verme_İşlemi"> </class>
        </classes>
    </test>
    <test name="myTest6">
        <parameter name="browserTipi" value="chrome"></parameter>
        <classes>
            <class name="US_06_Bilgisayar_Siparişi_Verme_İşlemi"> </class>
        </classes>
    </test>
    <test name="myTest7">
        <parameter name="browserTipi" value="chrome"></parameter>
        <classes>
            <class name="US_07_SearchByParameter_ParametreliArama"> </class>
        </classes>
    </test>

</suite>




